<style type="text/css">  
h1,h2,h3,h4,h5,h6{font-family:&quot;Roboto&quot;,Arial,sans-serif}
h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:10px}
h2{font-weight:700;margin-bottom:20px}
h3{line-height:35px;margin-bottom:20px}
h4{font-size:17px;font-weight:700}  
p{margin-bottom:20px;line-height:28px}
a,a:visited{-webkit-transition:all 150ms ease-in;-moz-transition:all 150ms ease-in;-o-transition:all 150ms ease-in;transition:all 150ms ease-in}
a{color:#00a8d6;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
a:hover,a:focus{text-decoration:none;color:#007DA0;outline:none}
ul{margin:0;padding:0;list-style:none}
ul li{line-height:28px}
::-moz-selection{text-shadow:none;background:#1F1F1F;color:#FFF}
::selection{text-shadow:none;background:#1F1F1F;color:#FFF}
img::selection{background:0 0}
img::-moz-selection{background:0 0}
hr{margin-top:40px;margin-bottom:60px;border-top:1px dotted #EFEFEF}
body{webkit-tap-highlight-color:rgba(255,255,255,.2)}
form{margin-bottom:0}
.quickedit{display:none}
.headline{text-align:center}
.headline h1{color:#31373a;padding-bottom:15px;border-bottom:2px solid #DDD;display:inline-block}
.headline p{margin-bottom:50px}
.bg-dark .headline h1{color:#FFF}
.bg-dark .headline p{color:#FFF}
.bg-blue .headline h1{color:#FFF;border-bottom:2px solid rgba(0,0,0,0.1)}
.bg-blue .headline p{color:#FFF}
.white h1{color:#FFF}
.white p{color:#FFF}
.section90{padding:90px 0;clear:both}
.section80 {
    padding: 0;
    clear: both;
    overflow: hidden;
}
.section20{padding:20px 0}
.padding70top{padding-top:70px}
.bordered{border:1px solid #DDD}
.border-left{border-left:1px solid #DDD}
.border-right{border-right:1px solid #DDD}
.border-top{border-top:1px solid #DDD}
.border-bottom{border-bottom:1px solid #DDD}
.nopadding-bottom{padding-bottom:0}
.margintop40{margin-top:40px}
.divider70{clear:both;height:70px}
.divider50{clear:both;height:50px}
.divider20{clear:both;height:20px}
.divider35{clear:both}
.margin50{margin:50px 0}
.margin20{margin:20px 0}
  
.btn{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.blue-btn{padding:12px 15px;font-size:12px;font-family:&quot;Roboto&quot;,Arial,sans-serif;text-transform:uppercase;font-weight:700;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;background-color:#00a8d6;color:white;border:1px solid rgba(0,0,0,0.1)}
.blue-btn:hover{background-color:#31373a;color:#FFF}
.black-btn{font-family:&quot;Roboto&quot;,Arial,sans-serif;font-weight:700;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;background-color:#31373a;color:white;border:1px solid rgba(0,0,0,0.1)}
.black-btn:hover{background-color:#00a8d6;color:#FFF}
.tick-list{margin:15px 0}
.tick-list li{list-style:none;margin-bottom:10px}
.tick-list li i{margin-right:10px;color:#00a8d6}
.quote{color:#FFF;border:none;font-size:40px;text-align:center;position:relative;font-weight:bold}
.quote::before{font-family:&#39;FontAwesome&#39;;content:&quot;\f10d&quot;;font-size:20px;font-weight:bold;padding-right:30px;font-weight:normal}
.quote span{display:block;font-size:16px}
.text-center img{display:block;margin:0 auto}
.normal-list{list-style-type:disc;margin-bottom:30px;margin-left:20px}
.normal-list li{margin-bottom:5px}
.green-arrow{list-style:none}
.green-arrow li{background:url(https://dl.dropboxusercontent.com/s/xgrrsf4ji5xxnb7/green-arrow.png) no-repeat left top;padding-left:45px;padding-bottom:15px}
.green-arrow li:nth-child(odd){font-weight:bold}
.highlight{padding:20px;background:#F8F8F8;border-radius:3px}
.side-text{margin-top:20px;width:90%;margin:0 auto}
.side-text h4{text-align:center}
.side-text i{display:block;background-color:#8FB73C;width:80px;height:80px;border-radius:5px;color:#FFF;line-height:80px;text-align:center;font-size:30px;margin:20px auto}
.btn:hover,.btn:focus{background-color:#1A9FF9;color:#FFF}
.negativetop80{margin-top:-80px}
.bg-white{background-color:#FFF}
.bg-grey{background-color:#FAF7F8}
.bg-grey{background-color:#FAFAFA}
.bg-grey2{background-color:#F5F5F5}
.bg-blue{background-color:#00a8d6}
.bg-dark{background:linear-gradient(15deg,#6d4dd9,#14badc)}
.testimonial-bg{background:url(https://dl.dropboxusercontent.com/s/764nbhqoni3mvrx/headshot-bg.jpg) no-repeat center center fixed}
.cover{-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
.color-blue{color:#00a8d6}
.color-white{color:#FFF}
.color-green{color:#8FB73C}
.footer-global{overflow: hidden;
    position: relative;
    background: linear-gradient(15deg,#6d4dd9,#14badc);
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
color:#FFF;
}
.overlay-bg{position:absolute;top:0;left:0;right:0;bottom:0;opacity:0.5;background:rgba(0,0,0,0.5);background:-webkit-radial-gradient(50% 55%,ellipse closest-corner,rgba(0,0,0,0.57) 1%,rgba(0,0,0,0.8) 100%);background:-moz-radial-gradient(50% 55%,ellipse closest-corner,rgba(0,0,0,0.57) 1%,rgba(0,0,0,0.8) 100%);background:-ms-radial-gradient(50% 55%,ellipse closest-corner,rgba(0,0,0,0.57) 1%,rgba(0,0,0,0.8) 100%);background:radial-gradient(50% 55%,ellipse closest-corner,rgba(0,0,0,0.57) 1%,rgba(0,0,0,0.8) 100%);-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:0}
.carousel-mod .carousel-indicators{position:static;display:block;width:auto;margin:15px auto}
.carousel-mod .carousel-indicators li{background-color:#A3A3A3;border:none;margin:0}
.carousel-mod .carousel-indicators .active{background-color:#31373a;width:10px;height:10px}
.carousel-mod .carousel-control.left,.carousel-mod .carousel-control.right{background:none;background-color:transparent;filter:none}
.carousel-mod .carousel-control{top:45%}
html,body{height:100%}
.main-point{clear:both;padding-bottom:35px;border-bottom:1px solid #F7F7F7;margin-bottom:40px}
.main-point p{margin-bottom:0}
.main-point i{background:linear-gradient(15deg,#6d4dd9,#14badc);width:80px;height:80px;border-radius:5px;color:#FFF;line-height:80px;text-align:center;font-size:42px;display:inline-block;margin-right:30px;float:left;margin-right:20px}
.main-point h4{margin-bottom:10px;font-size:20px}
.main-point-last{border:none;margin-bottom:0}
.feature-box{border:1px solid #E5E5E5;background-color:#FFF;padding:20px}
.feature-box i{display:block;background-color:#00a8d6;width:80px;height:80px;border-radius:5px;color:#FFF;line-height:80px;text-align:center;font-size:42px;margin:20px auto;margin-top:-40px}
.feature-box h4{text-align:center}
.feature{}
.feature i{display:block;background:linear-gradient(15deg,#6d4dd9,#14badc);width:80px;height:80px;border-radius:5px;color:#FFF;line-height:80px;text-align:center;font-size:42px;margin:20px auto}
.feature h4{text-align:center}
.bubble{position:relative;border:3px solid #000000;padding:20px;margin-top:30px;border-radius:3px}
.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 12px;
    border-color: #000000 transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    top: -15px;
    left: 50%;
}
.bubble:before{content:&#39;&#39;;position:absolute;border-style:solid;border-width:0 15px 15px;border-color:#E5E5E5 transparent;display:block;width:0;z-index:0;margin-left:-15px;top:-16px;left:50%}
.features-list{margin-bottom:40px;border-bottom:1px solid #F7F7F7;padding-bottom:20px}
.features-list h4{font-size:16px}
.features-list i{width:80px;height:80px;border-radius:5px;color:#FFF;line-height:80px;text-align:center;font-size:42px;background:linear-gradient(15deg,#6d4dd9,#14badc);float:left;margin-right:20px}
.last-row .features-list{border-bottom:0;margin-bottom:10px}
.hover-details{width:100%;height:auto;overflow:hidden;position:relative;-moz-transition:all ease 400ms ease-in-out;-webkit-transition:all ease 400ms ease-in-out;-o-transition:all ease 400ms ease-in-out;transition:all ease 400ms ease-in-out;margin-bottom:40px}
.hover-details .img-cover{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0;background:rgba(0,168,214,0.8);-moz-transition:all ease 400ms ease-in-out;-webkit-transition:all ease 400ms ease-in-out;-o-transition:all ease 400ms ease-in-out;transition:all ease 400ms ease-in-out;border-radius:3px}
.hover-details &gt; img{width:100%;height:auto;-moz-transition:all ease 400ms ease-in-out;-webkit-transition:all ease 400ms ease-in-out;-o-transition:all ease 400ms ease-in-out;transition:all ease 400ms ease-in-out}
.img-zoom{width:45px;height:45px;background-color:#1a1a1a;line-height:45px;position:absolute;top:-45%;left:50%;border-radius:3px;margin-top:-35px;margin-left:-25px;-webkit-transition:all ease 400ms ease-in-out;-moz-transition:all ease 400ms ease-in-out;-ms-transition:all ease 400ms ease-in-out;-o-transition:all ease 400ms ease-in-out;transition:all ease 400ms ease-in-out;text-align:center}
.img-zoom i{color:#FFF;font-size:18px}
.img-cover h3{width:100%;position:absolute;bottom:-28%;color:#fff;font-size:16px;text-align:center;padding:0 10px;-webkit-transition:all 300ms ease-in-out;-moz-transition:all 300ms ease-in-out;-o-transition:all 300ms ease-in-out;-ms-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out}
#colleft1{width:48%;float:left;margin:0;padding:0}
#colleft2{width:48%;float:right;margin:0;padding:0}
#colright{width:30%;float:right;margin:0;padding:0}  
.hover-details:hover{cursor:pointer}
.hover-details:hover &gt; img{transform:scale(1.2);-ms-transform:scale(1.2);-webkit-transform:scale(1.2);-o-transform:scale(1.2);-moz-transform:scale(1.2)}
.hover-details:hover .img-zoom{top:45%}
.hover-details:hover .img-cover h3{bottom:28%}
.hover-details:hover .img-cover{opacity:1}
.img-zoom:hover{background-color:#333}
.video-container{position:relative}
.video-container iframe{width:100%;height:430px;border:none}
.members-detail{text-align:center;background-color:#FFF;border-radius:4px;padding-bottom:30px;transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;border:1px solid #EFEFEF}
.members-detail:hover{-webkit-box-shadow:0 0 7px rgba(0,0,0,0.1);-moz-box-shadow:0 0 7px rgba(0,0,0,0.1);box-shadow:0 0 7px rgba(0,0,0,0.1);cursor:pointer}
.members-detail h4{display:inline-block;padding-bottom:10px;border-bottom:2px solid #DDD}
.members-detail img{margin-bottom:20px;border-radius:4px 4px 0 0}
.members-social{display:block}
.members-social li{display:inline-block;height:40px;width:40px;border:1px solid #EFEFEF;line-height:40px}
.members-social li:hover a{color:#31373a}
.testimonial-inner{text-align:center}
.testimonial-inner img{margin-bottom:15px}
.testimonial-inner p{display:block;position:relative;font-size:16px}
.testimonial-inner p::before{font-family:&#39;FontAwesome&#39;;content:&quot;\f10d&quot;;font-size:20px;font-weight:bold;padding-right:30px;font-weight:normal}
.testimonial-inner small{display:inline-block;border-top:2px solid #333;padding-top:10px;font-size:14px;font-weight:bold}
.pricing-container{padding-left:0;padding-right:0}
.price-column{background:#fff;margin-top:0;margin-bottom:40px;-webkit-box-shadow:0 0 7px rgba(0,0,0,0.1);box-shadow:0 0 7px rgba(0,0,0,0.1);margin-top:20px;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;position:relative;z-index:1}
.price-column:hover{margin-top:-10px;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;-webkit-box-shadow:0 2px 20px 0 rgba(0,0,0,0.2);box-shadow:0 2px 20px 0 rgba(0,0,0,0.2)}
.price-column h2{background-color:#000;color:#FFF;font-size:17px;text-align:center;margin-bottom:0;padding:30px 0}
.price-column h3{color:#fff;text-align:center;font-size:32px;background:#0F141A;margin-bottom:0;padding:30px 0;font-weight:bold}
.price-column h3 span{font-weight:300;font-size:18px}
.price-column h3 sup{font-size:18px}
.price-column ul{margin:25px 0}
.price-column li{border-top:1px dotted #EFEFEF;padding:15px 0;width:75%;margin:0 auto;color:#333}
.price-column li:first-child{border-top:none}
.price-column li i{float:right;color:#8FB73C}
.price-column li i.red-color{color:#CC0000}
.price-column li del{color:#aaa}
.price-bottom{background:#0F141A;padding:25px 0;text-align:center}
.price-btn{background:transparent;padding:12px 30px;border:2px solid #FFF;border-radius:0;color:#FFF;font-weight:bold;text-transform:uppercase;font-size:14px}
.price-btn:hover{background:#FFF;color:#1A9FF9;border:2px solid #FFF}
.price-column p{padding:20px;background:#F8F8F8}
.price-column.large{margin-top:-20px;position:relative;z-index:2;-webkit-box-shadow:0 2px 20px 0 rgba(0,0,0,0.2);box-shadow:0 2px 20px 0 rgba(0,0,0,0.2)}
.price-column.large h2{background-color:#1166A0}
.price-column.large h3{background:#1A9FF9;padding:45px 0;font-size:38px}
.price-column.large .price-bottom{background-color:#1166A0}
.title{margin-bottom:60px}
.panel{background:#f0f0f0}
.panel .panel-heading{padding:15px 30px}
.panel .panel-body{padding:30px;padding-top:0;color:#666666}
.panel .panel-title{font-weight:normal;color:#666666;font-size:14px;font-weight:bold}
.panel .panel-title .active{color:#408337}
.panel .panel-title .panel-toggle .fa{margin-right:10px;color:#8FB73C}
.more{margin-top:60px}
.more .title{margin-bottom:15px;color:#999999}
.btn-bluebg{padding:15px 35px;border-radius:0;border:2px solid  color:#FFF;background-color:#1A9FF9;border-color:#1A9FF9;font-size:14px;font-weight:bold;margin-right:20px}
.btn-bluenobg{padding:15px 35px;border-radius:0;border:2px solid rgba(0,0,0,0.2);color:#1A9FF9;background-color:#FFF;font-size:14px;font-weight:bold}
.btn-bluebg:hover,.btn-bluenobg:hover{border-color:#0F0F0F;background-color:#1a1a1a}
.partners-logo img{width:100%}
#whatsapp-chat,.nabil-live{background:white;position:fixed;z-index:100;right:30px}
#whatsapp-chat{width:350px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 8px 25px -5px rgba(45,62,79,.15);-moz-box-shadow:0 8px 25px -5px rgba(45,62,79,.15);box-shadow:0 8px 25px -5px rgba(45,62,79,.15);bottom:80px;overflow:hidden;}
#btn-chat,#tooltip i,.nabil-live svg{vertical-align:middle}
.nabil-live{color:white;background:linear-gradient(45deg,#029abd 0,#05c537 100%);background:-webkit-linear-gradient(45deg,#029abd 0,#05c537 100%);bottom:25px;line-height:30px;font-size:15px;padding:0;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;-webkit-box-shadow:0 1px 5px rgba(154,154,154,.2);-moz-box-shadow:0 1px 5px rgba(154,154,154,.2);box-shadow:0 1px 5px rgba(154,154,154,.2);}
.nabil-live .svg{margin:0;position:absolute;top:0;padding:10.5px 15px;-webkit-border-radius:0 50px 50px 0;-moz-border-radius:0 50px 50px 0;border-radius:0 50px 50px 0;right:-2px;background-color:white;color:#31c73a;width:18px;height:18px;line-height:18px;overflow:hidden;text-align:center;z-index:10}
#tooltip{text-align:center;color:#fff;background:#333;position:absolute;z-index:100;padding:10px 20px;border-radius:4px;font-size:90%;box-shadow:0 1px 10px rgba(0,0,0,.6)}
#tooltip i{display:inline-block;margin:5px}
#tooltip:after{width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-top:10px solid #333;position:absolute;left:50%;bottom:-10px;margin-left:-10px}
#tooltip.top:after{border-top-color:transparent;border-bottom:10px solid #333;top:-20px;bottom:auto}
#tooltip.left:after{left:10px;margin:0}
#tooltip.right:after{right:10px;left:auto;margin:0}
.formtamv *{outline:0;text-decoration:none}
.formtamv .focus{box-shadow:inset 0 0 0 1px #36c83f}
.formtamv label{position:relative;display:block;width:100%;margin:0;padding:0}
.formtamv label&gt;input,.formtamv label&gt;select,.formtamv label&gt;textarea{position:relative;z-index:1;border:none;background:#f9f9f9;box-shadow:inset 0 0 0 1px rgba(0,0,0,.02),inset 1px 1px 5px rgba(0,0,0,.05);width:100%;border-radius:50px;padding:10px 20px 0}
.formtamv label&gt;i{position:absolute;z-index:0;display:inline-block;vertical-align:top;width:40px;text-align:center;font-size:20px;height:auto;background:none;box-shadow:none;top:3px;left:0;color:rgba(0,0,0,.2)}
.formtamv label small{position:relative;display:block;margin-top:10px;z-index:3}
.formtamv label small&gt;a.tooltip{margin-left:10px;font-size:20px;vertical-align:middle;display:inline-block;color:rgba(0,0,0,.4)}
.formtamv label small&gt;a.tooltip:hover{color:rgba(0,0,0,.6)}
.formtamv label small a{font-weight:700}
.formtamv select::-ms-expand{display:none}
.formtamv select{-moz-appearance:none;-webkit-appearance:none;appearance:none}
.formtamv select option{font-size:18px;background:#edf8f5;color:rgba(0,0,0,.7);text-shadow:none}
.formtamv .nomor_whatsapp[type=number]::-webkit-inner-spin-button,.formtamv .nomor_whatsapp[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
.nomor_whatsapp[type=number]{-moz-appearance:textfield}
.formtamv label&gt; :focus{background:none}
.formtamv label textarea{min-height:20px;resize:none;margin-bottom:0}
.formtamv label .validasi{position:absolute;z-index:2;right:-30px;background:#36c83f;color:#fff;padding:5px 10px;border-radius:3px;font-size:80%;box-shadow:0 5px 10px rgba(0,0,0,.1);transition:.4s;visibility:hidden;opacity:0;display:inline-block!important}
.formtamv label .validasi.show{visibility:visible;opacity:1;bottom:100%}
.formtamv label .validasi:after{position:absolute;top:100%;right:10px;content:&quot;&quot;;border:8px solid;border-color:#36c83f transparent transparent}
a.close-chat{position:absolute;top:10px;right:13px;color:#c3ffc7;font-size:18px;z-index: 10;}
.nime{position:absolute;display:block;width:10px;height:10px;border-radius:100%;background-color:#05d436;right:-2px;bottom:8px}
.nime:after,.nime:before{content:&quot;&quot;;position:absolute;width:24px;height:24px;opacity:0;border-radius:100%;top:-8px;left:-8px;background:#05d436}
.nime:before{-webkit-animation:nime 2s ease-out infinite;animation:nime 2s ease-out infinite}
.nime:after{z-index:1;-webkit-animation:nime 2s .4s ease-out infinite;animation:nime 2s .4s ease-out infinite}
@-webkit-keyframes nime{0%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}
5%{opacity:1}
100%{opacity:0}}
@keyframes nime{0%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}
5%{opacity:1}
100%{opacity:0}}
@keyframes showhide{from{transform:scale(.5);opacity:0}}
@keyframes showchat{from{transform:scale(0);opacity:0}}
.hide,.show{animation-name:showhide;animation-duration:1.5s;transform:scale(1);opacity:1}
@media screen and (max-width:480px){#whatsapp-chat{width:auto;left:5%;right:5%;font-size:80%}}
.postmeta a,.sidebar-wrapper{font-size:14px;overflow:hidden}
.hide{display:none}
.show{display:block}
.postmeta{display:none}
.postmeta a{background:#737373;padding:10px 20px;color:#fff;border-radius:40px;margin:20px 0;text-transform:uppercase}
@media only screen and (min-width:768px) and (max-width:959px){.horizontal-optin input[type="text"],.horizontal-optin textarea{margin-bottom:15px}img{display:block;margin:20px auto}.img-thumbnail{margin:0}.bottom-contact{padding-top:40px}.last-row .features-list{margin-bottom:40px;border-bottom:1px solid #F7F7F7}input[type="text"],textarea{margin-bottom:15px}}
@media only screen and (min-width:480px) and (max-width:767px){.navbar-inverse{background-color:#FFF}.navbar-inverse .navbar-brand{color:#1a1a1a}.navbar-inverse .navbar-toggle{padding:10px;background:#333}.navbar-inverse .navbar-nav > li{border-bottom:1px solid #EFEFEF}.navbar-inverse .navbar-nav > li > a{color:#1a1a1a}.navbar-inverse .navbar-nav > .active > a,.navbar-inverse .navbar-nav > .active > a:hover,.navbar-inverse .navbar-nav > .active > a:focus{color:#00A8D6}.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-nav > li > a:focus{color:#00A8D6}.menu-right{float:none}p{}h4{}hr{margin:15px 0}input[type="text"],textarea{margin-bottom:15px}.section90{padding:70px 0}.main-point{margin-bottom:40px}.video-container{margin-bottom:40px}.members-holder{width:80%;float:none;margin:20px auto}img{display:block;margin:20px auto}.img-thumbnail{margin:0}.bottom-contact{padding-top:40px}.last-row .features-list{margin-bottom:40px;border-bottom:1px solid #F7F7F7}}
@media only screen and (max-width:479px){.navbar-inverse{background-color:#FFF}.navbar-inverse .navbar-brand{color:#1a1a1a}.navbar-inverse .navbar-toggle{padding:10px;background:#333}.navbar-inverse .navbar-nav > li{border-bottom:1px solid #EFEFEF}.navbar-inverse .navbar-nav > li > a{color:#1a1a1a}.navbar-inverse .navbar-nav > .active > a,.navbar-inverse .navbar-nav > .active > a:hover,.navbar-inverse .navbar-nav > .active > a:focus{color:#00A8D6}.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-nav > li > a:focus{color:#00A8D6}.menu-right{float:none}body{font-size:13px}p{font-size:13px}h4{font-size:16px;line-height:25px}hr{margin:15px 0}img{float:none;display:block;margin:20px auto}iframe{max-height:200px}.headline h1{font-size:30px}.section90{padding:50px 0}input[type="text"],textarea{margin-bottom:15px}.bubble{margin-bottom:30px}.nav-tabs > li,.nav-pills > li{margin:0;display:block}.nav-tabs > li.active:after{border-width:0}.nav-tabs > li.active:before{border-width:0}.price-column:hover{margin-top:0}.main-point{margin-bottom:20px;border:none;float:none;width:100%;border-bottom:1px solid #EFEFEF}.members-holder{width:80%;float:none;margin:20px auto}.video-container{margin-bottom:40px}.img-cover h3{display:none}.img-thumbnail{margin:0}.btn-bluebg{margin-right:0;margin-bottom:20px}#footer p,#footer li,#footer a{font-size:13px}.social{margin-bottom:30px}.copyright{float:none}}
.scroll-fixed-navbar .navbar-nav > li.active > a{color:yellow!important}
</style>
